.dashboardHeaderSection {
    height: 10vh;
    background: #f1f2ee;
    .headerContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading {
            text-transform: capitalize;
            font-family: "Noto Sans KR", sans-serif;
            font-size: calc(1.5rem + 0.5vw);
            text-align: center;
            color: #435058;
        }
        .photoButtonContainer {
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .placeholderImage {
                width: 2rem;
                height: auto;
            }
            .userImage {
                border-radius: 1rem;
                width: 5rem;
            }
            .logOutButton {
                // height: 60%;
                border: none;
                background: #848c8e;
                font-size: calc(1rem + 0.5vw);
                color: #f1f2ee;
                cursor: pointer;
                padding: 0.5rem 1rem;
                border-radius: 1rem;
                margin: auto 0;
                transition: all 0.3s ease-in-out;
                &:hover,
                &:focus {
                    background: #bfb7b6;
                    color: #435058;
                    box-shadow: 2px 2px 5px #848c8e;
                }
            }
        }
    }
}
.dashboardMainSection {
    height: 90vh;
    background: #f1f2ee;
    .dateContainer {
        padding: 2% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Noto Sans KR", sans-serif;
        color: #435058;
        .addAsset {
            // height: 60%;
            border: none;
            background: #848c8e;
            font-size: calc(1rem + 0.5vw);
            color: #f1f2ee;
            cursor: pointer;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            margin: auto 0;
            text-transform: capitalize;
            transition: all 0.3s ease-in-out;
            &:hover,
            &:focus {
                background: #bfb7b6;
                color: #435058;
                box-shadow: 2px 2px 5px #848c8e;
            }
            a {
                color: inherit;
            }
        }
        .searchAsset {
            border: 1px solid #848c8e;
            width: 40%;
            padding: 0.5rem 1rem;
            font-size: calc(1rem + 0.5vw);
            border-radius: 1rem;
            background: #f1f2ee;
            transition: all 0.3s ease-in-out;
            &:hover,
            &:focus {
                box-shadow: 2px 2px 5px #435058;
            }
        }
        .currentDate {
            font-size: calc(1rem + 0.5vw);
        }
    }
    .resultDashboardArea {
        .dashboardHeading {
            text-transform: capitalize;
            font-family: "Noto Sans KR", sans-serif;
            font-size: calc(1rem + 0.5vw);
            text-align: center;
            color: #435058;
        }
    }
}
